---
layout: base.njk
title: Home
---
<div class="max-w-lg mx-auto mt-6 px-4 text-center">
  <h1 class="font-semibold text-3xl">Hello, Tuto!</h1>
  <p>Feel free to begin your next project :D</p>
</div>